<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Practica Laboratorio 3</h1>
    <p>Inicio</p>
  </body>
</html>
