
<table>
  <% var i; for (i=0; i < listado.length; i++) { %>        
     <tr>
<td>
<%= listado[i]. etiquetaVideo %>
</td>
<td>
<a href="<%= listado[i]. direccionVideo %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>
<td>
Genero de la cancion: <%= listado[i]. generoMusical %>
</td>
<td>
Fecha de la cancion: <%= listado[i]. fecha %>
</td>
</td>


</tr>
  <% } %>
</table>



